* {
  font-family: "Ubuntu Nerd Font";
  font-weight: bold;
  font-size: 14px;
  min-height: 28px;
  /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
  /* font-size: 97%; */
  /* font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"'; */
}

window#waybar {
  background: transparent;
  color: #FFFFFF;
}

window#waybar.empty #window {
  background-color: transparent;
}

tooltip {
  background: #1e1e2e;
  opacity: 0.95;
  border-radius: 10px;
  border-width: 0px;
  border-style: solid;
  border-color: #11111b;
  text-shadow: none;
}

tooltip label {
  color: #cdd6f4;
  text-shadow: none;
}

/* module left */
#custom-launch_rofi,
#workspaces,
#custom-hardware,
#cpu,
#memory,
#disk,
#window,
/* module center */
#custom-lock_screen,
#custom-pacman,
#clock,
#custom-wallpaper,
#custom-power_btn,
/* module right */
#tray,
#custom-power_profile,
#power-profiles-daemon,
#bluetooth,
#network,
#custom-temp,
#temperature,
#custom-gputemp,
#battery,
#backlight,
#wireplumber,
#pulseaudio,
#custom-weather,
#custom-hypridle,
#idle_inhibitor {
  background: #1e1e2e;
  opacity: 0.8;
  margin-top: 8px;
}

/* module left */
#custom-launch_rofi {
  font-size: 20px;
  margin-left: 10px;
  padding: 0px 10px 0px 20px;
  border-radius: 10px 0px 0px 10px;
  color: #ffffff;
}

#workspaces {
  margin-right: 10px;
  border-radius: 0px 10px 10px 0px;
  padding: 0px 10px 0px 10px;
}
#workspaces button.active {
  background: #11111b;
  color: #ffffff;
}
#workspaces button:hover {
  background: #11111b;
  color: #ebeefa;
}

#custom-hardware {
  padding: 0px 20px 0px 20px;
  border-radius: 10px;
  margin-right: 10px;
}
#cpu {
  border-radius: 10px 0px 0px 10px;
  padding: 0px 10px 0px 20px;
}
#memory {
  padding: 0px 10px 0px 10px;
}
#disk {
  border-radius: 0px 10px 10px 0px;
  padding: 0px 20px 0px 10px;
  margin-right: 10px;
}

#custom-temp {
  margin-right: 10px;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
}
#temperature {
  border-radius: 10px 0px 0px 10px;
  padding: 0px 10px 0px 20px;
  font-size: 12px;
}
#custom-gputemp {
  margin-right: 10px;
  border-radius: 0px 10px 10px 0px;
  padding: 0px 20px 0px 10px;
  font-size: 12px;
}

#window {
  font-family: "JetBrainsMono Nerd Font Bold Italic";
  font-style: italic;
  font-weight: bold;
  font-size: 13px;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
}

/* module center */
#custom-lock_screen {
  border-radius: 10px 0px 0px 10px;
  padding: 0px 10px 0px 20px;
}
#custom-pacman {
  font-size: 16px;
  padding: 0px 10px 0px 10px;
}
#custom-pacman {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#custom-pacman.pending-updates {
  animation-name: blink-update;
  animation-duration: 3s;
}
#clock {
  padding: 0px 10px 0px 10px;
}
#custom-wallpaper {
  padding: 0px 10px 0px 10px;
}
#custom-power_btn {
  border-radius: 0px 10px 10px 0px;
  padding: 0px 20px 0px 10px;
}

/* module right */
#tray {
  margin-right: 10px;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
}

#power-profiles-daemon,
#custom-power_profile {
  margin-right: 10px;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
}

#bluetooth {
  /* font-size: 14px; */
  border-radius: 10px 0px 0px 10px;
  padding: 0px 10px 0px 20px;
}
#bluetooth.on {
  animation-name: blink-update;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#bluetooth.off {
  color: #6c6c74;
}
#bluetooth.connected {
  color: #ffffff;
}
#network {
  margin-right: 10px;
  border-radius: 0px 10px 10px 0px;
  /* font-size: 18px; */
  padding: 0px 20px 0px 10px;
}
#network.linked {
  color: #ffffff;
}
#network.diconnected {
  color: #6c6c74;
}

#wireplumber {
  border-radius: 10px 0px 0px 10px;
  padding: 0px 10px 0px 20px;
}
#pulseaudio {
  padding: 0px 10px 0px 10px;
}
#battery {
  padding: 0px 10px 0px 10px;
}
#battery.warning {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-update;
  animation-duration: 3s;
}
#battery.critical {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-battery;
  animation-duration: 3s;
}
#battery.charging {
}
#backlight {
  margin-right: 10px;
  border-radius: 0px 10px 10px 0px;
  padding: 0px 20px 0px 8px;
}

#custom-weather {
  margin-right: 10px;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
}

#custom-hypridle,
#idle_inhibitor {
  margin-right: 10px;
  border-radius: 10px;
  padding: 0px 25px 0px 20px;
}

@keyframes blink-update {
  to {
    background-color: dodgerblue;
  }
}
@keyframes blink-battery {
  to {
    background-color: red;
  }
}
